.button {
    position: relative;
    color: #ffffff ;
    display: inline-block;
    box-sizing: border-box;
    border-radius:  32px
}

.menuItem  {
    color: #ffffff ;
    background: #8c00ff85 ;
}

.headerBar {
    color: #ffffff;
    background: #8c00ff85;
    border-radius: 0 0 32px 0px;
}

.countIcon, #leaderDisplay, #newLeaderDisplay, #ammoDisplay, #timerDisplay, #teamScores, #voteToKick, #hudClassIcon, #healthValueHolder { 
        background-color: #8c00ff85 ;
        border-radius:  32 ;
}

.headerBarRight.headerBar {
    right: 0;
    border-radius: 0 0 0  32px
}

.menuItem.menuItemTitle {
   color: #ffffff ;
}

.headerBar div {
    color: #ffffff ;
}

.buttonB {
    background-color: #8c00ff85 !important;
    box-shadow: inset 0 -7px 0 0 #c700ff85!important
}

#policeButton {
    border-radius:  32px
}

.buttonG {
    background-color: #8c00ff85 !important;
    box-shadow: inset 0 -7px 0 0 #c700ff85!important
}

#customizeButton {
    border-radius:  32px
}

.buttonR {
    background-color: #8c00ff85 !important;
    box-shadow: inset 0 -7px 0 0 #c700ff85!important
}

.button.lgn {
    border-radius: 32px;
    background-color: #8c00ff85;
}

.buttonP {
    background-color: #8c00ff85 !important;
    box-shadow: inset 0 -7px 0 0 #c700ff85!important
}

.buttonPI {
    background-color: #8c00ff85 !important;
    box-shadow: inset 0 -7px 0 0 #c700ff85!important
}

.progressBar {
        background-color: #8c00ff85 ;
}

.progressBarInner {
        background-color: #8c00ff85 ;
}

#newsHolder {
        background-color: #8c00ff85 ;
}

.newsItem {
   color: #ffffff ;
}

#mLevelCont {
        background-color: rgba(0, 0, 0, 0) ;
   border-bottom-right-radius:  32px;
}
.menuClassPlayerName {
    color: #ffffff ;
}

#termsInfo {
        background-color: #8c00ff85 ;
}

#mapInfo {
    color: #ffffff ;
}

#menuKRCount {
    color: #ffffff ;
}

#menuWindow {
        background-color: #8c00ff85 ;
   box-shadow: 0 9px 0 0 #8c00ff85
}

.settName,.settNameSmall {
    color: #ffffff ;
}

a {
    color: #ffffff ;
}

* {
    color: #ffffff ;
}

@font-face {font-family: gamefont; src: url(https://fonts.gstatic.com/s/skranji/v8/OZpDg_dtriVFNerMUzykkw.woff2);}

#instructionsUpdate {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    color: rgb(255 255 255);
    font-size: 32px;
    background-color: #8c00ff85;
    padding: 5px;
    width: 600px;
    border-radius: 32px;
}

#endTable {
    width: 100%;
    padding: 10px;
    text-align: left;
    border-radius: 6px;
    overflow-y: auto;
    height: min-content;
    vertical-align: top;
    max-height: 100%;
    background-color: #8c00ff85;
    display: table;
    border-spacing: 0;
}

.settingsHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: -.5px;
    z-index: 999999999;
    background-color: #8c00ff85;
    padding-left: 20px;
    margin-left: -20px
}

.classXPBar {
    position: absolute;
    top: 250px;
    left: 10px;
    width: 199px;
    height: 26px;
    border-radius: 3px;
    background-color: #ffffff00;
}

.clsXPBarC {
    margin: 4px;
    background-color: #8c00ff85;
    height: 18px;
}

.serverHeader {
    width: 100%;
    padding-top: 19px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999999999;
    background-color: #8c00ff85;
    display: table;
}

.quickJoin {
    border-radius: 3px;
    background-color: #8c00ff85;
    font-size: 13px;
    padding: 4px;
    cursor: pointer;
    pointer-events: all;
    z-index: 99999;
    display: inline-block;
    margin-left: 10px;
    color: #fff;
    margin-bottom: 5px;
    vertical-align: middle;
    text-shadow: -1px -1px 0 #1c1c1c,1px -1px 0 #1c1c1c,-1px 1px 0 #1c1c1c,1px 1px 0 #1c1c1c,-2px -2px 0 #1c1c1c,2px -2px 0 #1c1c1c,-2px 2px 0 #1c1c1c,2px 2px 0 #1c1c1c;
    -webkit-transition: all .02s;
    transition: all .02s
}