/* Set the font family before anything else. */
@font-face {
    font-family: gamefont;
    src: url("https://fonts.gstatic.com/s/skranji/v8/OZpDg_dtriVFNerMUzykkw.woff2");
}

/* Default button color as dark purple */
.button {
    display: inline-block;
    position: relative;

    color: #2A0276;
    background-color: #1A0752;

    box-sizing: border-box;
    border-radius: 2rem;
}

/* Button hover color as lighter purple */
.button:hover {
    color: #fff;
    background-color: #4020A1;
}
