/* Set the font family before anything else. */
@font-face {
    font-family: gamefont;
    src: url("https://fonts.gstatic.com/s/skranji/v8/OZpDg_dtriVFNerMUzykkw.woff2");
}

/* Modify all elements to be colored white by default. */
* {
    color: #fff;
}

/* No text decorations please */
a {
    text-decoration: none;
}

/* Modify the button utility class */
.button {
    display: inline-block;
    position: relative;

    color: #fff;    
    box-sizing: border-box;
    border-radius: 2rem;
}


