/* Set the font family before anything else. */
@font-face {
    font-family: gamefont;
    src: url("https://fonts.gstatic.com/s/skranji/v8/OZpDg_dtriVFNerMUzykkw.woff2");
}

/* Set the default text color. */
a {
    color: #9b41fa !important;
}

* {
    color: #fff !important;
    transition: 0.3s;
}

/* Default button colors, remove box shadow */
.button {
    border-color: #2A0276 !important;
    background-color: #1A0752 !important;
    box-shadow: inset 0 -7px 0 0 #2A0276 !important;
    border-radius: 15px;
}

/* Button hover color as lighter purple */
.button:hover {
    color: #fff !important;
    background-color: #4020A1 !important;
    box-shadow: inset 0 -7px 0 0 #613CCF !important;
}

/* Login button colors */
.accountButton {
    background-color: #4020A1 !important;
}

.accountButton:hover {
    background-color: #613CCF !important;
}

/* Menu item colors */
.menuItem, .headerBar, #streamContainer,  #youNewDiv {
    background-color: #1A075280 !important;
}

/* Menu tab colors */
.menuTabNew, .settingTab {
    background-color: #4020A1 !important;
    border-bottom: 5px solid #2A0276 !important;
}

.menuTabNew:hover, .settingTab:hover {
    border-bottom: 5px solid #613CCF !important;
}

.tabANew {
    border-bottom: 5px solid #9b41fa !important;
}

/* Primary colors */
#menuWindow, #newsHolder, #termsInfo, .serverHeader, .settingsHeader, .countIcon, #leaderDisplay, #newLeaderDisplay, #ammoDisplay, #timerDisplay, #teamScores, #voteToKick, #hudClassIcon, #healthValueHolder {
    background-color: #1A0752 !important;
}

/* Secondary colors */
input[type=text], select, .settingsBtn {
    background-color: #2A0276 !important;
}

/* Shadow for center menu container */
#menuWindow {
    box-shadow: 0 9px 0 0 #2A0276;
}

/* Exp bars */
#menuLevelBar {
    background-color: #4020A1;
}

/* Slider colors */
.slider {
    background-color: #2A0276 !important;
}

input:checked+.slider {
    background-color: #9b41fa !important;
}
